/venv/
/functions.log
/.idea/.gitignore
/.idea/HomeWork_12_2.iml
/loader.log
/main.log
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
